.counter-up {
  background: black;
  min-height: 21vh;
  width: 100%;
  z-index: 2;

  .content {
    z-index: 2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    &::before {
      position: absolute;
      content: "";
      top: 177%;
      left: 0;
      height: 23%;
      width: 100%;
      background: rgba(0, 0, 0, 0.1);
    }

    .box {
      width: 10%;
      border: 1px dashed rgba(255, 255, 255, 0.6);
      padding: 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      color: white;

      .icon {
        font-size: 45px;
        color: white;
      }

      .counter {
        font-size: 30px;
        font-weight: 500;
        color: white;
        font-family: sans-serif;
      }

      .location {
        margin-top: 20px;
        font-size: 20px;
      }
      .text {
        font-weight: 400;
        color: white;
      }
    }
  }
}
